* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Global */
a {
    color: #fff;
    text-decoration: none;
}

p {
    margin-bottom: 10px;
}
/* header */
header .container {
    background-color: #333;
    overflow: auto;
    padding: 0 20px;
    margin: auto;
}
/* logo */
header .container nav h1 {
    float: left;
    padding: 20px;
    font-size: 30px;

}
header .container nav h1 span{
    color: #999;
}
/* navbar */
header .container nav ul {
    float:right ;
    list-style: none;
    padding-top: 10px;
}

header .container nav ul li {
    float:left;
    
    
}
header .container nav ul li a{
    padding:20px;
    display: block;
}

header .container nav ul li a:hover,
header .container nav ul li a.click {
    background-color:#444 ;
    color: #f7c08a;
}
/* container2 */
header .container2 {
    background: url("../images/test-bg.jpg") no-repeat center center/cover;
    height: 600px;
}
header .container2 .text {
    padding-top: 200px;
    text-align: center;
    color: #fff;

}
header .container2 .text h2 {
    font-size: 80px;
}

header .container2 .text span,
.home-info article h2 span,
.home-info .text-left h2 span  {
    color:#f7c08a ;
}
header .container2 .text p {
    font-size: 30px;
}
header .container2 .btn {
    background-color: #666;
    border-radius: 4px;
    padding:20px ;
    color: #fff;
}
header .container2 .btn:hover {
    background-color:#444 ;
    color: #f7c08a
}
/* home-info */
.home-info .imag {
    background: url("../images/photo-2.jpg");
    width: 50%;
    height: 500px;
    float: left;
    
    
}

.home-info .text-left {
    text-align: center;
    padding: 70px 20px 20px 100px;
    font-size: 1.7rem;
    background-color: #444;
    height: 500px;
}

.home-info .text-left p {
    color: #fff;
}

footer {
    background-color: #333;
    height: 2.8rem;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}















